<div class="coinwrapper">
  <div class="coincontainer" [ngClass]="[coinValue, coinReverse]">
    <div id="tridiv">
      <div class="scene">
        <div class="shape cylinder-2 cyl-2">
          <div class="face bm"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.1);"></div></div>
          <div class="face tp"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.1);"></div></div>
          <div class="face side s0"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.1);"></div></div>
          <div class="face side s1"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.125);"></div></div>
          <div class="face side s2"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.16);"></div></div>
          <div class="face side s3"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.21);"></div></div>
          <div class="face side s4"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.267);"></div></div>
          <div class="face side s5"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.325);"></div></div>
          <div class="face side s6"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.38);"></div></div>
          <div class="face side s7"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.43);"></div></div>
          <div class="face side s8"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.475);"></div></div>
          <div class="face side s9"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.498);"></div></div>
          <div class="face side s10"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.498);"></div></div>
          <div class="face side s11"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.475);"></div></div>
          <div class="face side s12"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.44);"></div></div>
          <div class="face side s13"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.39);"></div></div>
          <div class="face side s14"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.333);"></div></div>
          <div class="face side s15"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.275);"></div></div>
          <div class="face side s16"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.22);"></div></div>
          <div class="face side s17"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.17);"></div></div>
          <div class="face side s18"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.125);"></div></div>
          <div class="face side s19"><div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.1);"></div></div>
        </div>
      </div>
    </div>
  </div>
  {{subtitle}}
</div>