<h1>Social</h1>

<div class="youtube column-3">
  <div class="socialimage">
    <img src="assets/images/social/youtube.png" alt="">
  </div>
  <div class="aspect-ratio">
    <iframe src="https://www.youtube.com/embed/videoseries?list=PLZCHH_4VqpRhwzNjMBHJOcfdMhYZzC0K2" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  <div class="aspect-ratio">
    <iframe src="https://www.youtube.com/embed/videoseries?list=PLBlBclZ8UNWYyUtcpXD6EAtU8iLnN20HI&index=13" frameborder="0"
      allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>

<div class="facebook column-3">
  <div class="socialimage">
    <img src="assets/images/social/facebook.png" alt="">
  </div>
  <fb-page href="https://www.facebook.com/PHolopedia-749113741936284/" data-tabs="timeline"></fb-page>
</div>
<div class="twitter column-3">
  <div class="socialimage">
    <img src="assets/images/social/twitter.png" alt="">
  </div>
</div>