<div class="coins-container">
  <h3><img class="headerTextImage" [src]="initialImageUrl" alt="Quantum Foundation Sign In" />Quantum Foundation Coin &lt;~ Quant</h3>
  <app-coin [coinValue]="'coin10'" [coinReverse]="'qtum'" [subtitle]="'Quantum Foundation Quantum Qtum'"></app-coin>
  <app-coin [coinValue]="'coin2'" [coinReverse]="'eth'" [subtitle]="'Quantum Foundation Ethereum ETH'"></app-coin>
  <h3><img class="headerTextImage" [src]="initialImageUrl" alt="Quantum Foundation Sign In" />Quantum Foundation Coin &lt;~ Quantina</h3>
  <app-coin [coinValue]="'coin5'" [coinReverse]="'qtum'" [subtitle]="'Quantum Foundation Quantum Qtum'"></app-coin>
  <app-coin [coinValue]="'coin1'" [coinReverse]="'eth'" [subtitle]="'Quantum Foundation Ethereum ETH'"></app-coin>
  <h3><img class="headerTextImage" [src]="initialImageUrl" alt="Quantum Foundation Sign In" />Quantum Foundation Coin &lt;~ Quantinec</h3>
  <app-coin [coinValue]="'coinhalf'" [coinReverse]="'qtum'" [subtitle]="'Quantum Foundation Quantum Qtum'"></app-coin>
  <app-coin [coinValue]="'coinfifth'" [coinReverse]="'eth'" [subtitle]="'Quantum Foundation Ethereum ETH'"></app-coin>
</div>