app-coin {
    float: left;
    width: 32.8%;
    text-align: center;
    margin-top: -106px;
}

app-coin:first-child, app-coin:nth-child(6)   {
    margin-left: 16.5%;
}

.holoMandala {
  width: 732px;
  margin: 108px auto;
}

.holoMandalaCaption {
  float: left;
  text-align: center;
  font-size: 18px;
  width: 100%;
}