
<div class="holoMandala">
  <app-coin [coinObverse]="getHexSide(holoQKUrl, '#FFCBFF')" [coinReverse]="getHexSide(holoPRUrl, '#FFACB4')" [subtitle]="'Quantum Foundation Quantum Qtum'"></app-coin>
  <app-coin [coinObverse]="getHexSide(holoQDUrl, '#CAC3F5')" [coinReverse]="getHexSide(holoPRUrl, '#FFACB4')" [subtitle]="'Quantum Foundation Quantum Qtum'"></app-coin>
  <app-coin [coinObverse]="getHexSide(holoQTUrl, '#F9CCD7')" [coinReverse]="getHexSide(holoPRUrl, '#FFACB4')" [subtitle]="'Quantum Foundation Quantum Qtum'"></app-coin>
  <app-coin [coinObverse]="getHexSide(holoQNUrl, '#F1E6CD')" [coinReverse]="getHexSide(holoPRUrl, '#FFACB4')" [subtitle]="'Quantum Foundation Quantum Qtum'"></app-coin>
  <app-coin [coinObverse]="getHexSide(holoQAUrl, '#C6F0F0')" [coinReverse]="getHexSide(holoPRUrl, '#FFACB4')" [subtitle]="'Quantum Foundation Quantum Qtum'"></app-coin>
  <app-coin [coinObverse]="getHexSide(holoQRUrl, '#F9C4A4')" [coinReverse]="getHexSide(holoPRUrl, '#FFACB4')" [subtitle]="'Quantum Foundation Quantum Qtum'"></app-coin>
  <app-coin [coinObverse]="getHexSide(holoQVUrl, '#F7F5BF')" [coinReverse]="getHexSide(holoPRUrl, '#FFACB4')" [subtitle]="'Quantum Foundation Quantum Qtum'"></app-coin>
</div>
<div class="holoMandalaCaption">
  Holoquantum Foundation ~ Technology for Homo Quanticum
  Holoquantum Foundation ~ Quantum EEG, Quantum MEG, Quantum fNIRS, Quantum fMRI
  Holoquantum Foundation ~ Holo Quantum Knowledge ~ Step 1
  Holoquantum Foundation ~ Holo Quantum Therapies ~ Step 2
  Holoquantum Foundation ~ Quantum Research ~ Step 3
  Holoquantum Foundation ~ Holo Quantum Visualizations ~ Step 4
  Holoquantum Foundation ~ Holo Quantum Applications ~ Step 5
  Holoquantum Foundation ~ Quantum Devices ~ Step 6
</div>

