
<div class="holoMandala">
  <app-coin *ngFor="let obverse of obverseArray" [coinObverse]="getHexSide(obverse.url, obverse.color)" [coinReverse]="getHexSide(holoPRUrl, '#FFACB4')" 
  [subtitle]="'Quantum Foundation Quantum Qtum'" (click)="selectHex(obverse, $event)"></app-coin>
</div>
<div class="holoMandalaCaption">
  Fotoquantum Foundation ~ Technology for Homo Quanticum<br />
  Fotoquantum Foundation ~ Quantum EEG, Quantum MEG, Quantum fNIRS, Quantum fMRI<br />
  Fotoquantum Foundation ~ Fotoquantum Knowledge ~ Step 1<br />
  Fotoquantum Foundation ~ Fotoquantum Therapies ~ Step 2<br />
  Fotoquantum Foundation ~ Quantum Research ~ Step 3<br />
  Fotoquantum Foundation ~ Fotoquantum Visualizations ~ Step <br />4
  Fotoquantum Foundation ~ Fotoquantum Applications ~ Step 5<br />
  Fotoquantum Foundation ~ Quantum Devices ~ Step 6
</div>

