h2 {
  font-size: 48px;
}

.page {
  float:left;
  width: 100%;
}

.navigation {
  float:left;
  width: 30%;
}

.leftPanel img {
  width: 100%;
}

.content {
  float:right;
  width: 70%;
}

.abstact_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.abstact_content {
  margin-bottom: 40px;
}