h2 {
  font-size: 48px;
}

.leftPanel {
    float:left;
    width: 50%;
}

.leftPanel img {
  width: 100%;
}

.rightPanel {
    float:right;
    width: 48%;
    font-size: 24px;
    text-align: justify;
    padding: 1%;
}

.abstact_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.abstact_content {
  margin-bottom: 40px;
}