/* You can add global styles to this file, and also import other style files */
body {
    background: #ffe5b4; /* linear-gradient(to right, #3f060f , #e81630);*/
    color: #540101; /*#ffe5b4;*/
    margin: 0;
    font-family: Calibri, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }